<div class="row o-vertical-spacing o-vertical-spacing--l mt-4">
    <div class="col-12 blog-post o-media">
        <div class="o-media__figure d-none">
            <span class="skeleton-box" style="width:100px;height:80px;"></span>
        </div>
        <div class="o-media__body px-0 mx-0">
            <div class="o-vertical-spacing">
                <h3 class="blog-post__headline">
                    <span class="skeleton-box" style="width:55%;"></span>
                </h3>
                <p>
                    <span class="skeleton-box" style="width:80%;"></span>
                    <span class="skeleton-box" style="width:90%;"></span>
                    <span class="skeleton-box" style="width:83%;"></span>
                    <span class="skeleton-box" style="width:80%;"></span>
                </p>
                <div class="blog-post__meta">
                    <span class="skeleton-box" style="width:70px;"></span>
                </div>
            </div>
        </div>
    </div>
</div>
