<style>
    .card-header {
        cursor: pointer !important;
    }
</style>
<section class="header-main margin-banner clearfix">
    <div class="container">
        <div class="text-post min-content">
            <div>
                <h1 class="title-page" style="font-size:35px !important">
                    Thiết kế website chuyên nghiệp hàng đầu tại X-Tech
                </h1>
            </div>
            Giúp bạn THU HÚT KHÁCH HÀNG và TĂNG DOANH THU hiệu quả Những chuyên gia của chúng tôi biết cách để xây dựng một website như thế cho doanh nghiệp của bạn!
        </div>
    </div>
</section>
<section class="container clearfix page-pricing">
    <div class="tab-pricing">
	  <ul class="toggle-menu">
            <li class="active" id="btn_pricing1">
                <a href="javascripts:;">
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#person"></use>
                    </svg>
                    <span>Cá nhân</span>
                </a>
            </li>
            <li id="btn_pricing2">
                <a href="javascripts:;">
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#group"></use>
                    </svg>
                     <span>Doanh nghiệp</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="list-service mb80" id="pricing1">
        <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide-active" style="width: 400px;">
                    <div class="item" style="text-align: center;">
                        <div id="text-753281786" class="text line-d">
                            <p style="text-align: center;">
                                <span style="font-size: 24px;">
                                    <strong>BASIC</strong>
                                </span>
                            </p>
                            <p style="text-align: center;">
                                <strong><span style="color: #b33f81;"><span class="start-price" style="font-size: 48px;">3.490.000 </span><span style="font-size: 24px;">VND</span></span></strong><span style="font-size: 32px;">
                                </span>
                            </p>
								<a class="btn-default " href="#popup-thongbao"><span>Đăng ký ngay</span></a>
                            
                        </div>
					
						<p style="text-align: center;"><span style="font-size: 16px;">( Phù hợp cho cá nhân )</span></p>
						<div class="service">
							<div class="mb10 medium">Everything in Starter, plus</div>
							<ul class="ul-check mb0">
								<li style="text-align: left;">Giao diện mẫu, tùy chỉnh theo yêu cầu hoặc mẫu khách hàng cung cấp</li>
								<li style="text-align: left;">Thời gian bàn giao: 4-5 ngày</li>
								<li style="text-align: left;">Tặng: 1 banner + logo cơ bản</li>
								<li style="text-align: left;">Tặng kèm 1 năm tên miền .COM trị giá 300.000 VNĐ</li>
								<li style="text-align: left;">Tặng Hosting 10 GB/1 năm trị giá 2.760.000VNĐ</li>
								<li style="text-align: left;">Tặng Plugin Ranh Math SEO Pro bản quyền tối ưu hóa nội dung website</li>
								<li style="text-align: left;">Tặng Plugin tăng tốc độ Website bản quyền Wp Rocket tăng tốc độ website</li>
								<li style="text-align: left;">Tặng Plugin bảo mật web bản quyền iThemes Security Pro bảo mật website</li>
								<li style="text-align: left;">Hỗ trợ nhập liệu 30 bài viết hoặc sản phẩm</li>
								<li style="text-align: left;">Tối ưu SEO Onpage. Giao diện tương thích mọi thiết bị (PC, Tablet, Mobile)</li>
								<li style="text-align: left;">Bàn giao mã nguồn website</li>
								<li style="text-align: left;">Bảo hành trọn đời, bàn giao full quyền</li>
								<li style="text-align: left;">Đội ngũ kỹ thuật hỗ trợ tận tình 24/7</li>
							</ul>

                       </div>
                            
 
 
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-next" style="width: 400px;">
					<div class="item active" style="text-align: center;">
                        <div id="text-753281786" class="text line-d">
                            <p style="text-align: center;">
                                <span style="font-size: 24px;">
                                    <strong>DESIGN HOME</strong>
                                </span>
                            </p>
                            <p style="text-align: center;">
                                <strong><span style="color: #b33f81;"><span class="start-price" style="font-size: 48px;">7.000.000 </span><span style="font-size: 24px;">VND</span></span></strong><span style="font-size: 32px;">
                                </span>
                            </p>
								<a class="btn-default open-popup" href="#popup-thongbao"><span>Đăng ký ngay</span></a>
                            
                        </div>
					
						<p style="text-align: center;"><span style="font-size: 16px;">( Phù hợp cho các Cá Nhân & Doanh Nghiệp nhỏ )</span></p>
						<div class="service">
							<div class="mb10 medium">Everything in Starter, plus</div>
							<ul class="ul-check mb0">
								<li style="text-align: left;">Thiết kế web theo mẫu, design trang chủ theo phong cách riêng mới mẻ</li>
								<li style="text-align: left;">Thời gian bàn giao: 7-10 ngày</li>
								<li style="text-align: left;">Bảo hành website trọn đời</li>
								<li style="text-align: left;">Cam kết tốc độ tải trang dưới 3s.</li>
								<li style="text-align: left;">Hỗ trợ nhập 20 đơn vị bài viết / sản phẩm</li>
								<li style="text-align: left;">Tối ưu hỗ trợ SEO Onpage. Giao diện tương thích trên di động</li>
								<li style="text-align: left;">Tặng: 2 banner + logo dạng chữ cơ bản</li>
								<li style="text-align: left;">Miễn phí 5 email theo tên miền Mỗi email có 5GB dung lượng riêng biệt</li>
								<li style="text-align: left;">Tặng kèm 1 năm tên miền .COM trị giá 330.000 VNĐ (đã bao gồm VAT 10%)</li>
								<li style="text-align: left;">Tặng Hosting 10GB/1 năm trị giá 2.760.000 VNĐ</li>
								<li style="text-align: left;">Bàn giao mã nguồn website</li>
							</ul>

                       </div>
                            
 
 
                    </div>
                </div>
                <div class="swiper-slide" style="width: 400px;">
                   <div class="item" style="text-align: center;">
                        <div id="text-753281786" class="text line-d">
                            <p style="text-align: center;">
                                <span style="font-size: 24px;">
                                    <strong>PRO</strong>
                                </span>
                            </p>
                            <p style="text-align: center;">
                                <strong><span style="color: #b33f81;"><span class="start-price" style="font-size: 48px;">4.800.000 </span><span style="font-size: 24px;">VND</span></span></strong><span style="font-size: 32px;">
                                </span>
                            </p>
								<a class="btn-default open-popup" href="#popup-thongbao"><span>Đăng ký ngay</span></a>
                            
                        </div>
					
						<p style="text-align: center;"><span style="font-size: 16px;">( Phù hợp cho cá nhân )</span></p>
						<div class="service">
							<div class="mb10 medium">Everything in Starter, plus</div>
							<ul class="ul-check mb0">
								<li style="text-align: left;">Giao diện mẫu, tùy chỉnh theo yêu cầu hoặc mẫu khách hàng cung cấp</li>
								<li style="text-align: left;">Thời gian bàn giao: 4-5 ngày</li> 	
								<li style="text-align: left;">Tặng: 1 banner + logo cơ bản</li>
								<li style="text-align: left;">Tặng kèm 1 năm tên miền .COM trị giá 300.000 VNĐ</li>
								<li style="text-align: left;">Tặng Hosting 10 GB/1 năm trị giá 2.760.000VNĐ</li>
								<li style="text-align: left;">Tặng Plugin Ranh Math SEO Pro bản quyền tối ưu hóa nội dung website</li>
								<li style="text-align: left;">Tặng Plugin tăng tốc độ Website bản quyền Wp Rocket tăng tốc độ website</li>
								<li style="text-align: left;">Tặng Plugin bảo mật web bản quyền iThemes Security Pro bảo mật website</li>
								<li style="text-align: left;">Hỗ trợ nhập liệu 30 bài viết hoặc sản phẩm</li>
								<li style="text-align: left;">Tối ưu SEO Onpage. Giao diện tương thích mọi thiết bị (PC, Tablet, Mobile)</li>
								<li style="text-align: left;">Bàn giao mã nguồn website</li>
								<li style="text-align: left;">Bảo hành trọn đời, bàn giao full quyền</li>
								<li style="text-align: left;">Đội ngũ kỹ thuật hỗ trợ tận tình 24/7</li>
							</ul>

                       </div>
                            
 
 
                    </div>
                </div>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
        <div class="swiper-button-next swiper-service-next swiper-button-disabled" tabindex="0" role="button" aria-label="Next slide" aria-disabled="true">
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="swiper-button-prev swiper-service-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true">
            <i class="fa fa-angle-left"></i>
        </div>
    </div>
	<div class="list-service mb80" id="pricing2" style="display: none;">
        <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide-active" style="width: 400px;">
                    <div class="item" style="text-align: center;">
                        <div id="text-753281786" class="text line-d">
                            <p style="text-align: center;">
                                <span style="font-size: 24px;">
                                    <strong>DESIGN ENTERPRISE</strong>
                                </span>
                            </p>
                            <p style="text-align: center;">
                                <strong><span style="color: #b33f81;"><span class="start-price" style="font-size: 48px;">11.900.000 </span><span style="font-size: 24px;">VND</span></span></strong><span style="font-size: 32px;">
                                </span>
                            </p>
								<a class="btn-default open-popup" href="#popup-thongbao"><span>Đăng ký ngay</span></a>
                            
                        </div>
					
						<p style="text-align: center;"><span style="font-size: 16px;">( Phù hợp cho Doanh Nghiệp nhỏ thiết kế mới 100% )</span></p>
						<div class="service">
							<div class="mb10 medium">Everything in Starter, plus</div>
							<ul class="ul-check mb0">
								<li style="text-align: left;">Thiết kế giao diện (Layout Design) 5 kiểu trang PC</li>
								<li style="text-align: left;">Chỉnh sửa giao diện 02 lần</li>
								<li style="text-align: left;">Thời gian bàn giao: 15-20 ngày</li>
								<li style="text-align: left;">Bảo hành trọn đời website</li>
								<li style="text-align: left;">Cam kết tốc độ tải trang dưới 3s.</li>
								<li style="text-align: left;">Hỗ trợ nhập 20 nội dung sản phẩm / dịch vụ</li>
								<li style="text-align: left;">Tối ưu chuẩn SEO. Giao diện tương thích Mobile, Tablet</li>
								<li style="text-align: left;">Miễn phí 5 email theo tên miền Mỗi email có 5GB dung lượng riêng biệt</li>
								<li style="text-align: left;">Tặng kèm 1 năm tên miền .COM trị giá 330.000 VNĐ (đã bao gồm VAT 10%)</li>
								<li style="text-align: left;">Tặng Hosting 10GB/1 năm trị giá 2.760.000 VNĐ (đã bao gồm VAT 10%)</li>
								<li style="text-align: left;">Bàn giao mã nguồn website</li>
							</ul>

                       </div>
                            
 
 
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-next" style="width: 400px;">
					<div class="item active" style="text-align: center;">
                        <div id="text-753281786" class="text line-d">
                            <p style="text-align: center;">
                                <span style="font-size: 24px;">
                                    <strong>DESIGN PROFESSIONAL</strong>
                                </span>
                            </p>
                            <p style="text-align: center;">
                                <strong><span style="color: #b33f81;"><span class="start-price" style="font-size: 48px;">14.500.000 </span><span style="font-size: 24px;">VND</span></span></strong><span style="font-size: 32px;">
                                </span>
                            </p>
								<a class="btn-default open-popup" href="#popup-thongbao"><span>Đăng ký ngay</span></a>
                            
                        </div>
					
						<p style="text-align: center;"><span style="font-size: 16px;">( Dành cho Doanh Nghiệp vừa và nhỏ thiết kế mới 100% )</span></p>
						<div class="service">
							<div class="mb10 medium">Everything in Starter, plus</div>
							<ul class="ul-check mb0">
								<li style="text-align: left;">Thiết kế giao diện (Layout Design) 8 kiểu trang PC</li>
								<li style="text-align: left;">Chỉnh sửa giao diện 03 lần</li>
								<li style="text-align: left;">Thời gian bàn giao: 20-25 ngày</li>
								<li style="text-align: left;">Bảo hành trọn đời website</li>
								<li style="text-align: left;">Cam kết tốc độ tải trang dưới 3s.</li>
								<li style="text-align: left;">Hỗ trợ nhập 20 nội dung sản phẩm / dịch vụ</li>
								<li style="text-align: left;">Tối ưu chuẩn SEO. Giao diện tương thích Mobile, Tablet</li>
								<li style="text-align: left;">Miễn phí 5 email theo tên miền Mỗi email có 5GB dung lượng riêng biệt</li>
								<li style="text-align: left;">Tặng kèm 1 năm tên miền .COM trị giá 330.000 VNĐ (đã bao gồm VAT 10%)</li>
								<li style="text-align: left;">Tặng Hosting 10GB/1 năm trị giá 2.760.000 VNĐ (đã bao gồm VAT 10%)</li>
								<li style="text-align: left;">Bàn giao mã nguồn website</li>
							</ul>

                       </div>
                            
 
 
                    </div>
                </div>
                <div class="swiper-slide" style="width: 400px;">
                   <div class="item" style="text-align: center;">
                        <div id="text-753281786" class="text line-d">
                            <p style="text-align: center;">
                                <span style="font-size: 24px;">
                                    <strong>DESIGN DIAMOND</strong>
                                </span>
                            </p>
                            <p style="text-align: center;">
                                <strong><span style="color: #b33f81;"><span style="font-size: 48px;">Liên hệ</strong>
								
                            </p>
								<a class="btn-default open-popup" href="#popup-thongbao"><span>Đăng ký ngay</span></a>
                            
                        </div>
					
						<p style="text-align: center;"><span style="font-size: 16px;">( Thiết kế một bộ giao diện độc quyền & Tính năng theo yêu cầu )</span></p>
						<div class="service">
							<div class="mb10 medium">Everything in Starter, plus</div>
							<ul class="ul-check mb0">
								<li style="text-align: left;">Thiết kế giao diện (Layout Design) PC &amp; Mobile riêng</li>
								<li style="text-align: left;">Chỉnh sửa đến khi hài lòng</li>
								<li style="text-align: left;">Thời gian bàn giao: &gt; 30 ngày</li>
								<li style="text-align: left;">Bảo hành trọn đời website</li>
								<li style="text-align: left;">Cam kết tốc độ tải trang dưới 3s.</li>
								<li style="text-align: left;">Hỗ trợ nhập 20 nội dung sản phẩm / dịch vụ</li>
								<li style="text-align: left;">Tối ưu chuẩn SEO. Giao diện tương thích Mobile, Tablet</li>
								<li style="text-align: left;">Miễn phí 4 email theo tên miền Mỗi email có 5GB dung lượng riêng biệt</li>
								<li style="text-align: left;">Tặng kèm 1 năm tên miền .COM trị giá 330.000 VNĐ (đã bao gồm VAT 10%)</li>
								<li style="text-align: left;">Tặng Hosting 10GB/1 năm trị giá 2.760.000 VNĐ (đã bao gồm VAT 10%)</li>
								<li style="text-align: left;">Bàn giao mã nguồn website</li>
								<li style="text-align: left;">Cam kết hoàn 100% phí nếu khách hàng không hài lòng</li>
							</ul>

                       </div>
                            
 
 
                    </div>
                </div>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
        <div class="swiper-button-next swiper-service-next swiper-button-disabled" tabindex="0" role="button" aria-label="Next slide" aria-disabled="true">
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="swiper-button-prev swiper-service-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true">
            <i class="fa fa-angle-left"></i>
        </div>
    </div>
    @*<div class="management-solution">
        <h2 class="title-cate">
            Giải pháp quản lý bán hàng <br>
            đa kênh Omni Plus
        </h2>
        <div class="list grid grid__4">
            <div class="item">
                <div class="icon"><img src="~/images/icons/icon-git.png" alt=""></div>
                <h3 class="title">GitHub Copilot</h3>
                <div class="des">Trợ lý AI giúp viết mã nhanh và chính xác hơn</div>
            </div>
            <div class="item">
                <div class="icon"><img src="~/images/icons/icon-code.png" alt=""></div>
                <h3 class="title">Codespaces</h3>
                <div class="des">Phát triển phần mềm mọi nơi với môi trường đám mây</div>
            </div>
            <div class="item">
                <div class="icon"><img src="~/images/icons/icon-large.png" alt=""></div>
                <h3 class="title">Large File Storage</h3>
                <div class="des">Quản lý hiệu quả file lớn trong dự án.</div>
            </div>
            <div class="item">
                <div class="icon"><img src="~/images/icons/icon-security.png" alt=""> <span>Enterprise Only</span></div>
                <h3 class="title">GitHub Advanced Security</h3>
                <div class="des">Bảo mật mã nguồn với công cụ phân tích tiên tiến</div>
            </div>
        </div>
    </div>
    <div class="feature-comparison mb80">
        <div class="header mb30 center">
            <div class="lbl">So sánh tính năng</div>
            <div class="des">Bạn cần thêm thông tin để có sự lựa chọn phù hợp nhất?</div>
            <div class="txt_32 medium">Xem thêm bảng so sánh giải pháp phần mềm chi tiết dưới đây</div>
        </div>
        <div class="list">
            <ul class="pin">
                <li>
                    <div class="start"></div>
                    <div class="item">
                        <h3 class="title txt_24 medium">Free</h3>
                        <div class="price">
                            <div class="txt_24 medium">$0</div>
                            per month forever
                        </div>
                        <a class="btn-default free min full" href="javascripts:;">Join for free</a>
                    </div>
                    <div class="item">
                        <h3 class="title txt_24 medium">Team</h3>
                        <div class="price">
                            <div class="txt_24 medium">$3.67</div>
                            per user/month for the first 12 months*
                        </div>
                        <a class="btn-default min full" href="javascripts:;">Start Free 14-Day Trial</a>
                    </div>
                    <div class="item">
                        <h3 class="title txt_24 medium">Enterprise</h3>
                        <div class="price">
                            <div class="txt_24 medium">$0</div>
                            per user/month for the first 12 months*
                        </div>
                        <a class="btn-default sales min full" href="javascripts:;">Contact Sales</a>
                    </div>
                </li>
            </ul>
            <ul class="border">
                <li>
                    <div class="start"></div>
                    <div class="item">
                        <h3 class="title txt_24 medium">Free</h3>
                        <div class="price">
                            <div class="txt_24 medium">$0</div>
                            per month forever
                        </div>
                        <a class="btn-default free min full" href="javascripts:;">Join for free</a>
                    </div>
                    <div class="item">
                        <h3 class="title txt_24 medium">Team</h3>
                        <div class="price">
                            <div class="txt_24 medium">$3.67</div>
                            per user/month for the first 12 months*
                        </div>
                        <a class="btn-default min full" href="javascripts:;">Start Free 14-Day Trial</a>
                    </div>
                    <div class="item">
                        <h3 class="title txt_24 medium">Enterprise</h3>
                        <div class="price">
                            <div class="txt_24 medium">$0</div>
                            per user/month for the first 12 months*
                        </div>
                        <a class="btn-default sales min full" href="javascripts:;">Contact Sales</a>
                    </div>
                </li>
                <li class="head">
                    <div class="row-4">Code management</div>
                </li>
                <li>
                    <div>&gt; Public repositories</div>
                    <div>2,000 minutes/month</div>
                    <div>2,000 minutes/month</div>
                    <div>2,000 minutes/month</div>
                </li>
                <li>
                    <div>&gt; Public repositories</div>
                    <div>Unlimited</div>
                    <div>Unlimited</div>
                    <div>Unlimited</div>
                </li>
                <li class="head">
                    <div class="row-4">Code workflow</div>
                </li>
                <li>
                    <div>&gt; Public repositories</div>
                    <div>
                        <svg class="icon-svg color-green">
                            <use xlink:href="~/images/icons/icon.svg#checkmark"></use>
                        </svg>
                    </div>
                    <div>
                        <svg class="icon-svg color-green">
                            <use xlink:href="~/images/icons/icon.svg#checkmark"></use>
                        </svg>
                    </div>
                    <div>2,000 minutes/month</div>
                </li>
                <li>
                    <div>&gt; Public repositories</div>
                    <div>
                        <svg class="icon-svg color-green">
                            <use xlink:href="~/images/icons/icon.svg#checkmark"></use>
                        </svg>
                    </div>
                    <div>
                        <svg class="icon-svg color-green">
                            <use xlink:href="~/images/icons/icon.svg#checkmark"></use>
                        </svg>
                    </div>
                    <div>2,000 minutes/month</div>
                </li>
                <li>
                    <div>&gt; Public repositories</div>
                    <div>
                        <svg class="icon-svg color-green">
                            <use xlink:href="~/images/icons/icon.svg#checkmark"></use>
                        </svg>
                    </div>
                    <div>
                        <svg class="icon-svg color-green">
                            <use xlink:href="~/images/icons/icon.svg#checkmark"></use>
                        </svg>
                    </div>
                    <div>2,000 minutes/month</div>
                </li>
                <li>
                    <div>&gt; Public repositories</div>
                    <div>
                        <svg class="icon-svg color-green">
                            <use xlink:href="~/images/icons/icon.svg#checkmark"></use>
                        </svg>
                    </div>
                    <div>
                        <svg class="icon-svg color-green">
                            <use xlink:href="~/images/icons/icon.svg#checkmark"></use>
                        </svg>
                    </div>
                    <div>2,000 minutes/month</div>
                </li>
                <li>
                    <div>&gt; Public repositories</div>
                    <div>
                        <svg class="icon-svg color-green">
                            <use xlink:href="~/images/icons/icon.svg#checkmark"></use>
                        </svg>
                    </div>
                    <div>
                        <svg class="icon-svg color-green">
                            <use xlink:href="~/images/icons/icon.svg#checkmark"></use>
                        </svg>
                    </div>
                    <div>2,000 minutes/month</div>
                </li>
                <li>
                    <div>&gt; Public repositories</div>
                    <div>
                        <svg class="icon-svg color-green">
                            <use xlink:href="~/images/icons/icon.svg#checkmark"></use>
                        </svg>
                    </div>
                    <div>
                        <svg class="icon-svg color-green">
                            <use xlink:href="~/images/icons/icon.svg#checkmark"></use>
                        </svg>
                    </div>
                    <div>2,000 minutes/month</div>
                </li>
                <li>
                    <div>&gt; Public repositories</div>
                    <div>
                        <svg class="icon-svg color-green">
                            <use xlink:href="~/images/icons/icon.svg#checkmark"></use>
                        </svg>
                    </div>
                    <div>
                        <svg class="icon-svg color-green">
                            <use xlink:href="~/images/icons/icon.svg#checkmark"></use>
                        </svg>
                    </div>
                    <div>2,000 minutes/month</div>
                </li>
                <li>
                    <div>&gt; Public repositories</div>
                    <div>
                        <svg class="icon-svg color-green">
                            <use xlink:href="~/images/icons/icon.svg#checkmark"></use>
                        </svg>
                    </div>
                    <div>
                        <svg class="icon-svg color-green">
                            <use xlink:href="~/images/icons/icon.svg#checkmark"></use>
                        </svg>
                    </div>
                    <div>Unlimited</div>
                </li>
                <li>
                    <div>&gt; Public repositories</div>
                    <div>
                        <svg class="icon-svg color-green">
                            <use xlink:href="~/images/icons/icon.svg#checkmark"></use>
                        </svg>
                    </div>
                    <div>
                        <svg class="icon-svg color-green">
                            <use xlink:href="~/images/icons/icon.svg#checkmark"></use>
                        </svg>
                    </div>
                    <div>Unlimited</div>
                </li>
            </ul>
        </div>
    </div>*@
</section>
<section class="section-giaiphap section-faq clearfix">
    <div class="container">
        <h2 class="title-cate">Câu hỏi thường gặp</h2>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <a class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Xây dựng website mới cần chuẩn bị những gì ?
                    </a>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <p>Để xây dựng một website mới, bạn cần chuẩn bị ba yếu tố:</p>
                        <ul>
                            <li>Tên miền (domain): nếu thiết kế website giống như xây dựng 1 ngôi nhà thì tên miền chính là số nhà của bạn. Đây là địa chỉ giúp người dùng truy cập vào website của bạn. Tên miền nên ngắn gọn, dễ nhớ và ấn tượng, 1 số tên miền phổ biến: .vn, .com.vn</li>
                            <li>Hosting: nếu tên miền được xem là địa chỉ nhà, thì hosting là mảnh đất nơi ngôi nhà được xây dựng. Hiểu đơn giản hosting là nơi lưu trữ toàn bộ thông tin và dữ liệu của website trên Internet. Lựa chọn hosting có tốc độ, dung lượng phù hợp với web và có tính bảo mật cao là rất cần thiết.</li>
                            <li>Thiết kế website: chứa các dữ liệu website bao gồm bài viết, nội dung, hình ảnh, và các file mã lệnh (tên gọi khác là mã nguồn – source code)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <a class="btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Tại sao chi phí thiết kế website giữa các công ty khác nhau đáng kể ?
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div dir="auto">Một số yếu tố quyết định tới chi phí thiết kế Web bao gồm:</div>
                        <ul>
                            <li dir="auto">Giao diện của trang web</li>
                            <li dir="auto">Chi phí cho Tên miền và hosting</li>
                            <li dir="auto">Các tính năng cơ bản của 1 website</li>
                            <li dir="auto">Nội dung – content cần nhập liệu</li>
                            <li dir="auto">Các tính năng nâng cao với các website đặc biệt</li>
                        </ul>
                        <p><strong><em>Tuy nhiên tại X-Tech, chúng tôi không cạnh tranh về giá, chúng tôi chỉ cạnh tranh về tầm nhìn cũng như những gì tốt nhất có thể mang đến cho khách hàng.</em></strong></p>
                        <p>Tùy thuộc vào yêu cầu và chi phí dự kiến của doanh nghiệp, chúng tôi sẽ tư vấn gói thiết kế phù hợp nhất.</p>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <a class="btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Tại sao website của tôi không thu hút như website người khác ?
                    </a>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <p>Website không thu hút là vì đã không được thiết kế chuyên nghiệp, cho nên:</p>
                        <ul>
                            <li>Giao diện không thu hút và tạo được sự tin cậy với người truy cập</li>
                            <li>Tính năng lạc hậu, kém thân thiện</li>
                            <li>Không được tối ưu tốc độ truy cập, trải nghiệm người dùng và tối ưu chuẩn SEO</li>
                            <li>Nội dung website sơ sài, không cung cấp đủ thông tin cho người truy cập</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <a class="btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Thời gian thiết kế là bao lâu ?
                    </a>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        <p>Trung bình thời gian thiết kế website tại X-Tech là từ 3-12 ngày tùy thuộc vào yêu cầu của khách hàng đối với trang web. Đối với những dự án thiết kế giao diện độc quyền sẽ cần thời gian hoàn thiện dài hơn để mang đến sự hài lòng nhất cho quý khách hàng khi bàn giao.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading5">
                    <a class="btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                        Thanh toán như thế nào ?
                    </a>
                </div>
                <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
                    <div class="card-body">
                        <p>Nhằm giúp khách hàng có trải nghiệm tốt nhất khi hợp tác cùng X-Tech, chúng tôi mang đến tất cả hình thức thanh toán. Doanh nghiêp có thể lựa chọn từ thanh toán bằng tiền mặt đến chuyển khoản qua ngân hàng, các ứng dụng thanh toán sao cho thuận tiện nhất.</p>
                        <p>Quý khách hàng sẽ thanh toán trước một khoản chi phí nhỏ và chỉ cần thanh toán toàn bộ khi đã hoàn toàn hài lòng với website được bàn giao.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading6">
                    <a class="btn-link collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                        Tôi không biết quản trị website như thế nào thì làm sao vận hành web ?
                    </a>
                </div>
                <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
                    <div class="card-body">
                        <p>Trước khi bàn giao website cho doanh nghiệp của bạn, chuyên viên của X-Tech sẽ hướng dẫn bạn cách để đưa website vào vận hành.</p>
                        <p>Tuy nhiên trong trường hợp doanh nghiệp không có nhiều thời gian hay còn thiếu kinh nghiệm quản trị web thì có thể sử dụng gói <strong>dịch vụ quản trị website</strong> của X-Tech. Chỉ với một khoản<strong> chi phi nhỏ</strong>, website của bạn sẽ hoạt động và tạo ra <strong>doanh thu lớn</strong>.</p>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading7">
                    <a class="btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                        Những lỗi như thế nào thì tôi được hỗ trợ fix miễn phí ?
                    </a>
                </div>
                <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
                    <div class="card-body">
                        <p>Tất cả những lỗi liên quan đến kỹ thuật trong quá trình vận hành website đều được hỗ trợ fix miễn phí. Quý khách hàng chỉ cần liên hệ X-Tech để được hỗ trợ nhanh chóng – hiệu quả.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script>
        $('.menu-tab-button').removeClass('active')
        $('.menu-tab-button-Pricing').addClass('active');
    </script>
    <script asp-append-version="true" src="~/modules/Pricing.js"></script>
}