<section class="top-header">
    <div class="container">
        <div class="flex des">
            <a href="javascripts:;"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;info@x-tech.vn</a>
            <!-- <a href="javascripts:;"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;Thứ 2 - CN: 8.00 sáng - 7.00 chiều</a>-->
        </div>
        <div class="social">
            <div class="share-mobile">
                Chia sẻ: <a href="javascripts:;" class="fa fa-share-alt"></a>
            </div>
            <a href="javascripts:;"><i class="fa fa-facebook"></i></a>
            <a href="javascripts:;"><i class="fa fa-twitter"></i></a>
            <a href="javascripts:;"><i class="fa fa-youtube-play"></i></a>
            <a href="javascripts:;"><i class="fa fa-linkedin"></i></a>
            <a href="javascripts:;"><i class="fa fa-instagram"></i></a>
        </div>
    </div>

</section>
<section id="grid_data_ListCategory" class="topnav">

</section>
  



