@using Entities.ViewModels.Car;
@using Entities.Models;
@{
    var date = DateTime.Now;
    var LOAD_TYPE = (List<AllCode>)ViewBag.LOAD_TYPE;
}
<main class="main-section">
    <div class="table-head">
        <a href="/" class="btn-back">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M19 12H5M5 12L12 19M5 12L12 5" stroke="#344054" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </a>
        <h2 class="table-title">Báo cáo</h2>
     
    </div>

    <div class="filter-grid" style="grid-template-columns: repeat(auto-fit, minmax(180px, 0fr)) !important;">
        <div class="form-group">
            <select class="form-control" id="loadType" onchange="_detail_summary_report.Seach()" style="min-width:100px; max-width:150px;">
                <option value="-1">Tất cả</option>
                @foreach (var item in LOAD_TYPE)
                {
                    <option value="@item.CodeValue">@item.Description</option>

                }
            </select>
            <label for="plant">Nhóm tài</label>
        </div>

        <div class="form-group">
            <div class="date-picker">
                <input type="date" id="date_time_Car" max="@date.ToString("yyyy-MM-dd")" onchange="_detail_summary_report.Seach()" value="@date.ToString("yyyy-MM-dd")" style="min-width:100px; max-width:150px;">
            </div>
            <label for="plant">Ngày</label>
        </div>

        <div class="form-group">
            <select id="Time" onchange="_detail_summary_report.getDateRangeBySelect()" style="min-width:100px; max-width:150px;">
                <option value="1">Hôm nay</option>
                <option value="2">Hôm qua</option>
                <option value="3">Tuần này</option>
                <option value="4">Tuần trước</option>
                <option value="5">Tháng này</option>
                <option value="6">Tháng tước</option>
               
            </select>
            <label for="xenang">Thời gian</label>
        </div>

        @*<div class="form-group">
            <select id="xenang">
                <option selected="">All</option>
                <option>Xe nâng 1</option>
            </select>
            <label for="xenang">Xe nâng</label>
        </div>

        <div class="form-group">
            <select id="taitrong">
                <option selected="">All</option>
                <option>8 tấn</option>
                <option>15 tấn</option>
            </select>
            <label for="taitrong">Tải trọng</label>
        </div>

        <div class="form-group">
            <select id="khunggio">
                <option selected="">All</option>
                <option>Ca sáng</option>
                <option>Ca tối</option>
            </select>
            <label for="khunggio">Khung giờ ra</label>
        </div>

        <div class="form-group">
            <select id="truck">
                <option selected="">All</option>
            </select>
            <label for="truck">Truck</label>
        </div>*@

       
    </div>
    <div class="table-wrapper simple-scrollbar ss-container" style="height: 310px;">
        <div class="ss-wrapper">
            <div class="ss-content" id="Grid-DailyStatistics">
            </div>
        </div><div class="ss-scroll ss-hidden"></div>
    </div>

    <div id="dropdown-container"></div>

</main>
@section scripts {
    <script type="text/javascript" src="~/lib/Chart/Chart.js"></script>
    <script type="text/javascript" src="~/lib/Chart/Chart.PieceLabel.js"></script>
    <script src="~/modules/detailsummaryreport.js" asp-append-version="true"></script>
}